
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if(Model != null)
{
    <div class="col-md-3">
    <aside>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item ">
                        <h2 class="accordion-header" id="heading">
                        <button class="accordion-button" style="background-color: #fff; color: #E4002A" type="button" data-bs-toggle="collapse1" data-bs-target="#collapse"
                                    aria-expanded="true" aria-controls="collapseOne">Danh mục sản phẩm
                            </button>
                        </h2>


                @foreach(var item in Model)
                { 
                <div id="collapse" class="accordion-collapse collapse show" aria-labelledby="heading"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                                <a href="@Url.Action("Index" , "Home" , new {CategoryId = item.CategoryId})" style="text-decoration: none; color: black;" name="CategoryId">@item.CategoryName.</a>
                    </div>
                </div>
                }
            </div>                 
        </div>
    </aside>
</div>
    
}
