@model Website_banhang.Models.HomeData

@{
    ViewData["Title"] = "Home Page";
}



<!--BODY -->
<!-- Carousel-->
<div id="carouselExampleIndicators" class="carousel slide" style="margin-top: 8rem" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/Summer.jpg" class="d-block w-100 h-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/Summer.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/Summer.jpg" class="d-block w-100 h-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>


<!-- Aside -->
<div class="container mt-5">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
                <partial name="_partialCategory" model="@Model.CategoriesList" />         
    <!-- Section -->
                <partial name="_partialProduct" model="@Model.ProductList" />
    </div>
</div>


<nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item"">
            <a  class="page-link" href="@Url.Action("Index" , "Home", new { page = ViewBag.CurrentPage - 1})" style="
    color: #E4002A;
">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index" , "Home", new { page = ViewBag.CurrentPage + 1})" style="
    color: #E4002A;
">Next</a>
        </li>
    </ul>
</nav>


<script src="~/js/site.js"></script>